body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  width: 400px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-radius: 15px;

  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.card__img {
  width: 80px;
}
.card__info {
  flex: 1;
}

.card__info__coin {
  display: flex;
  justify-content: space-between;
}

.card__info__name {
  display: flex;
  justify-content: space-between;
}
